<div class="container">
    <% @posts.each do |post| %>
        <div class="posts">
            <strong><%= post.title %></strong>
            <p><%= post.description %></p>
            <i>Date: <%= post.date %></i>
            <br><br>
        </div>
    <% end %>
</div>